//fonts
$roboto: 'Roboto', Sans-Serif, Arial, Helvetica;

//colors
$white: #fff;
$color-text-primary: #24292e;
$color-text-secondary: #586069;
$color-bg-tertiary: #f6f8fa;
$color-border-primary: #e1e4e8;
$color-icon-success: #22863a;
$color-border-danger: #d73a4a;
$color-text-link: #0366d6;
