@import '../../styles/variables.scss';

.cell,
.cellItem {
  display: flex;
  align-items: center;
}

.tableHead {
  background-color: $color-bg-tertiary;
  border: 1px solid $color-border-primary;
}

.cellItem {
  color: $color-text-secondary;
  text-decoration: none;
  margin-right: 1rem;

  &:hover {
    color: $color-text-primary;
  }
}

.light {
  color: $color-text-primary;
  font-weight: 600;
}

.checkIcon {
  margin-right: 0.5rem;
}

.priorityIcon {
  margin-right: 0.5rem;
  color: inherit;
}
